/* Basic styling for the tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Initial hidden state for the tooltip text */
.tooltip-text {
    visibility: hidden;
    width: 140px;
    /* background-color: #555; */
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -70px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Arrow of the tooltip */
.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #db2777 transparent transparent transparent;
}

/* Show the tooltip text when hovering over the container */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}